/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track styles */
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  /* Handle styles */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  
  /* Button (arrow) styles */
  ::-webkit-scrollbar-button {
    background-color: #ffffff;
  }
  